@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --clr-primary-300: hsl(30, 92%, 58%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-900: hsl(0, 0%, 0%);
    
  --ff-primary: 'Ubuntu', sans-serif;
  --ff-heading: var(--ff-primary);
   --ff-body: var(--ff-primary);  

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-100: .67rem;
  --fs-200: .75rem;
  --fs-300: .83rem;
  --fs-400: 1rem;
  --fs-500: 1.17rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 2.5rem;

  --fs-h1: var(--fs-700);
  --fs-h2: var(--fs-600);
  --fs-h3: var(--fs-500);
  --fs-body: var(--fs-400)
  --fs-h5: var(--fs-300);
  --fs-h6: var(--fs-100);
  
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Inherit fonts for inputs and buttons (optional: uncomment this and remove "font: inherit" above)*/
/* input,
button,
textarea,
select {
  font: inherit;
} */

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;  
  font-family: var(--ff-body);
}

html, body {
  min-height: 100%;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility classes */

.text-neutral-100 {
  color: var(--clr-neutral-100);
}
.text-primary-300 {
  color: var(--clr-primary-300);
}
.text-neutral-900 {
  color: var(--clr-neutral-900);
}
.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}
.bg-neutral-900 {
  background-color: var(--clr-neutral-900);
}
.bg-primary-300 {
  background-color: var(--clr-primary-300);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fs-h1 {
  font-size: var(--fs-h1);
}
.fs-h2 {
  font-size: var(--fs-h2);
}
.fs-h3 {
  font-size: var(--fs-h3);
}
.fs-body {
  font-size: var(--fs-body);
}
.fs-h5 {
  font-size: var(--fs-h5);
}
.fs-h6 {
  font-size: var(--fs-h6);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}

/* General classes */

body {  
  max-width: 1100px;
  max-width: max(80%, 1100px);
  margin: auto;
  background-image: linear-gradient(to bottom, rgb(0 0 0 / .8), black);  
}

/* header */

.email-header {  
  display: block;
  text-align: center;
}
.no-decoration {
  text-decoration: none;
}


.primary-header {
  display: flex;  
  padding: 0.5rem;  
}
.primary-header img {
  height: auto;
  width: 22em;
}

.primary-nav {
  margin: auto;
  margin-right: 2rem;  
}
@media screen and (max-width:91em) {  
  .primary-header {
    flex-direction: column;
  }
  .primary-header img {
    width: 100%;
  }
  .primary-nav {
    margin: auto;
  }
}

.primary-nav li {
  display: inline-block;
  padding-left: .5em;  
  text-transform: uppercase;
}

.primary-nav a {
  text-decoration: none;
  color: var(--clr-neutral-900);
}
.primary-nav a:where(:hover,:focus) {  
  color: var(--clr-primary-300);
  cursor: pointer;
}

/* mobile navigation */

.mobile-nav-toggle {  
  display: none; 
}

@media screen and (max-width:49em) {
  .mobile-nav-toggle {  
    position: fixed;
    display: block;
    cursor: pointer;
    /* background: transparent; */
    background-color: rgb(255 255 255 / 0.3);
    top: 1.5rem;
    right: 1rem;
    border: 0;
    padding: 0.5rem;    
    z-index: 999;
  }
  
  .mobile-nav-toggle .icon-hamburger {
    display: block;
    width: 1.5rem;
    aspect-ratio: 1;
  }  
  .mobile-nav-toggle .icon-close {
    display: none;
    width: 1.5rem;
    aspect-ratio: 1;
  }
  .mobile-nav-toggle .icon-hamburger[data-visible] {
    display: none;
    width: 1.5rem;
    aspect-ratio: 1;
  }  
  .mobile-nav-toggle .icon-close[data-visible] {
    display: block;
    width: 1.5rem;
    aspect-ratio: 1;
  }
    
  .primary-nav {
    display: none;   
    z-index: 998;         
    position: fixed;    
    line-height: 1.5;
    top: -20rem;
    /* top: 0; */
    left: 0;
    right: 0;    
    height: 20rem;    
    text-align: center;
    padding: 2.5rem;
    background-color: var(--clr-neutral-100);    
    box-shadow: 0 0 0.5em hsl(0, 0%, 0%);    
    transition: 0.4s;    
  }
  .primary-nav::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 / 0.8));
    z-index: -1;
  }
  .primary-nav[data-visible] {
    display: block;    
  }
  
  .primary-nav li {
    display: block;
    padding: 0.2rem;    
  } 
}

/* black and orange bar */

.black-bar {
  background-color: var(--clr-neutral-900);
  height: 20px;
  width: 100%;
}
.orange-bar {
  background: var(--clr-primary-300);
  height: 10px;
  width: 100%;
}

/* main content */

/*! image carousel v2 start */
/* .main-container img {
  display: none;
  object-position: center center;
  object-fit:cover;
  width: 100%;
  height: 50em;
  overflow: hidden;
  filter: opacity(0);
  transition: 1.5s;
}

.about-us {
  position: absolute;
  max-width: 70rem;  
  inset: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;  
  text-align: center;  
  z-index: 50;  
} */
/*! image carousel v2 end */


/*! image carousel v1 start*/
.main-container {
  position: relative;  
  min-height: 50em;   
  width: 100%;
}

.carousel-image {
  position: absolute;
  display: none;  
  width: 100%;
  height: 100%;
  inset: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;  
  z-index: -1;
}

#fadeout {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: .6;
  transition: 1.2;
}

.main-content {
  /* min-height: 40em;     */
  display: block;
  position: relative;
  width: 80%;
  margin: auto;
  /* padding: 0.5em; */
  padding-top: 2em;  
  padding-bottom: 2em;
  text-align: center;  
  /* z-index: 50; */
}

.main-content h1 {
  color: var(--clr-neutral-100);
}

.about-us h1 {
  padding-bottom: 2rem;
}

.about-us p {
  font-size: clamp(1rem, 3vw, 1.5rem);
  color: var(--clr-neutral-100);
}


/* semi-transparent film over picture */
/* .main-container::after {    
  content: "";
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  position: absolute;
  width: 100%;
  background-color: black;
  z-index: 49;
  opacity: .5;
} */
/*! image carousel v1 end*/




@media screen and (max-width:35em) {
  .main-content {
    width: 100%;
    padding: 0.75em;
  }
}


/* button */
.btn {  
  background-color: var(--clr-primary-300);
  padding: .25rem 1rem;
  border-radius: 8px;
  border: 1px;
  cursor: pointer;
  transition: transform 100ms ease-in;
  transform: scale(1.1);
}
.btn:where(:hover,:focus) {
  transform: scale(1.15);
}
.btn:active {
  transform: scale(1.1);
}


/* footer */
.primary-footer {
  display: flex;
}

.footer-nav ul {
  list-style: none;
}
.footer-nav a {    
  color: var(--clr-primary-300);
}
.footer-nav a:where(:hover,:focus) {
  color: white; 
}
.footer-nav a:where(:hover,:focus) svg {
  fill: var(--clr-neutral-100);
}
.footer-nav svg {
  fill: var(--clr-primary-300);
  display: inline-block;  
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  top: 0.3rem;
}

.footer-a {   
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-wrapping {
  white-space: nowrap;
  padding-left: 1rem;
  padding-right: 1rem;
}

.footer-b {
  padding: 1rem;
  flex: 2;
  text-align: center;
}

.footer-b svg {
  fill: var(--clr-neutral-900);
  display: inline-block;  
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  top: 0.3rem;
}

.footer-b a:where(:hover,:focus) {
  color: var(--clr-neutral-100);
  cursor: pointer;
}
.footer-b a:where(:hover,:focus) svg {
  fill: var(--clr-neutral-100);
}


.footer-b p {
  padding-top: 0.5rem;
}

@media screen and (max-width:45em) {
  .primary-footer {
    display: block;
    text-align: center;
  }
}

/* accomodation */
.accomodation {
  line-height: 1.6;  
}
.accomodation h1 {
  padding-top: 2rem;
}
.accomodation p {
  padding-block: 2rem;
  /* font-size: clamp(1rem, 3vw, 1.5rem); */
}

/* activity-list */
.activity-list {
  line-height: 2.2;
  margin-top: 2rem;
}

/* gallery */
.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  grid-auto-flow: dense;
  justify-content: center;
  padding: .5rem;
  position: relative;
  gap: 1rem;
}
.grid-item {
  cursor: pointer;
  border: 2px solid white;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  /* transition: 150ms ease-in-out; */
  overflow: hidden;
}
.grid-item:hover img{
  transform: scale(1.15);
}
.grid-image {
  width: 100%;
  height: 100%;
}
.grid-image img {
  width: 100%;
  height: 100%;
  object-position: center center;
  object-fit:cover;
  padding: .2rem;
  border-radius: 20px;
  transition: 0.2s ease-in-out;
}

.portrait {
  grid-row: span 2;
}

.grid-item .big-landscape {
  grid-column: span 2;
  grid-row: span 2
}

@media screen and (max-width:45em) {
  .grid-wrapper {
    grid-template-columns: auto;
  }
}


/* modal */

.modal {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 50;
  background: rgba(0,0,0,.8);
  height: 100%;
  width: 100%;
}

.modal span {
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 20px;
  color: white;
  font-size: 4rem;
  z-index: 51;
}

.modal img {
  position: absolute;
  border-radius: 20px;
  object-fit: cover;
  width: clamp(700px, 70vw ,900px);
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid white;
  height: auto;
  top: 50%;
  opacity: 1;
}

.modalAni {
  animation-name: modalAni;
  animation-duration: 0.4s;
}

@keyframes modalAni {
  from {opacity: 0}
  to {opacity: 1;}
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  /* background-color: rgba(0,0,0,0.8); */
  background-color: rgba(150,150,150,0.8);
}