:root {
  --clr-primary-300: hsl(30, 92%, 58%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-900: hsl(0, 0%, 0%);
    
  --ff-primary: 'Ubuntu', sans-serif;
  --ff-heading: var(--ff-primary);
   --ff-body: var(--ff-primary);  

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-100: .67rem;
  --fs-200: .75rem;
  --fs-300: .83rem;
  --fs-400: 1rem;
  --fs-500: 1.17rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 2.5rem;

  --fs-h1: var(--fs-700);
  --fs-h2: var(--fs-600);
  --fs-h3: var(--fs-500);
  --fs-body: var(--fs-400)
  --fs-h5: var(--fs-300);
  --fs-h6: var(--fs-100);
  
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Inherit fonts for inputs and buttons (optional: uncomment this and remove "font: inherit" above)*/
/* input,
button,
textarea,
select {
  font: inherit;
} */

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;  
  font-family: var(--ff-body);
}

html, body {
  min-height: 100%;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility classes */

.text-neutral-100 {
  color: var(--clr-neutral-100);
}
.text-primary-300 {
  color: var(--clr-primary-300);
}
.text-neutral-900 {
  color: var(--clr-neutral-900);
}
.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}
.bg-neutral-900 {
  background-color: var(--clr-neutral-900);
}
.bg-primary-300 {
  background-color: var(--clr-primary-300);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fs-h1 {
  font-size: var(--fs-h1);
}
.fs-h2 {
  font-size: var(--fs-h2);
}
.fs-h3 {
  font-size: var(--fs-h3);
}
.fs-body {
  font-size: var(--fs-body);
}
.fs-h5 {
  font-size: var(--fs-h5);
}
.fs-h6 {
  font-size: var(--fs-h6);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}

/* General classes */

body {  
  max-width: 1000px;
  max-width: max(80%, 1000px);
  margin: auto;
  background-image: linear-gradient(to bottom, rgb(0 0 0 / .8), black);  
}

/* header */

.email-header {  
  display: block;
  text-align: center;
}
.no-decoration {
  text-decoration: none;
}


.primary-header {
  display: flex;  
  padding: 0.5rem;  
}
.primary-header img {
  height: auto;
  width: 25em;
}

.primary-nav {
  margin: auto;
  margin-right: 2rem;  
}
@media screen and (max-width:60em) {  
  .primary-header {
    flex-direction: column;
  }
  .primary-header img {
    width: 100%;
  }
  .primary-nav {
    margin: auto;
  }
}


.primary-nav li {
  display: inline-block;
  padding-left: 1em;  
}

.primary-nav a {
  text-decoration: none;
  color: var(--clr-neutral-900);
}
.primary-nav a:where(:hover,:focus) {  
  color: var(--clr-primary-300);
  cursor: pointer;
}

/* mobile navigation */

.mobile-nav-toggle {  
  display: none; 
}

@media screen and (max-width:35em) {
  .mobile-nav-toggle {  
    position: fixed;
    display: block;
    cursor: pointer;
    /* background: transparent; */
    background-color: rgb(255 255 255 / 0.3);
    top: 1.5rem;
    right: 1rem;
    border: 0;
    padding: 0.5rem;
    z-index: 999;
  }
  
  .mobile-nav-toggle .icon-hamburger {
    display: block;
    width: 1.5rem;
    aspect-ratio: 1;
  }  
  .mobile-nav-toggle .icon-close {
    display: none;
    width: 1.5rem;
    aspect-ratio: 1;
  }
  .mobile-nav-toggle .icon-hamburger[data-visible] {
    display: none;
    width: 1.5rem;
    aspect-ratio: 1;
  }  
  .mobile-nav-toggle .icon-close[data-visible] {
    display: block;
    width: 1.5rem;
    aspect-ratio: 1;
  }
    
  .primary-nav {
    display: none;    
    z-index: 998;         
    position: fixed;    
    line-height: 1.6;
    /* inset: 0; */
    top: 0;
    left: 0;
    right: 0;    
    height: 15rem;    
    text-align: center;
    padding: 2.5rem;
    background-color: var(--clr-neutral-100);    
    box-shadow: 0 0 0.5em hsl(0, 0%, 0%);
  }
  .primary-nav::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 / 0.8));
    z-index: -1;
  }
  .primary-nav[data-visible] {
    display: block;    
  }
  
  .primary-nav li {
    display: block;
    padding: 0.2rem;    
  } 
}

/* black and orange bar */

.black-bar {
  background-color: var(--clr-neutral-900);
  height: 20px;
  width: 100%;
}
.orange-bar {
  background: var(--clr-primary-300);
  height: 10px;
  width: 100%;
}

/* main content */

.main-content {
  position: relative;  
  min-height: 40em;  
}


.main-container {
  position: relative;
  width: 80%;
  margin: auto;
  padding: 0.5em;
  padding-top: 2em;  
  text-align: center;  
  z-index: 50;
}

.main-content::after {
  content: "";
  position: absolute;
  width: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url("./assets/cedric-dhaenens-CYQSLIAuzzU-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.2;
}


/* .main-img {
  opacity: 0.30;
  margin-left: 50%;
  transform: translateX(-50%);
  min-width: 50em;
} */

@media screen and (max-width:35em) {
  .main-container {
    width: 100%;
    padding: 0.75em;
  }
}

.main-container button {
  margin: 1.5em;
}
.button {  
  background-color: var(--clr-primary-300);
  padding: .25rem 1rem;
  border-radius: 8px;
  border: 1px;
  cursor: pointer;
  transition: transform 100ms ease-in;
  transform: scale(1.1);
}
.button:where(:hover,:focus) {
  transform: scale(1.15);
}
.button:active {
  transform: scale(1.1);
}

/* footer */

.primary-footer {
  display: flex;
}

.footer-a {   
  flex: 1;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  /* margin: auto; */
}

.footer-nav ul {
  list-style: none;
}

.footer-nav a {    
  color: var(--clr-primary-300);
}
.footer-nav svg {
  fill: var(--clr-primary-300);
  display: inline-block;  
  width: 1.5rem;
  aspect-ratio: 1/1;  
  position: relative;
  top: 0.3rem;
}

.footer-nav a:where(:hover,:focus) {
  color: white;    
}

.footer-nav a:where(:hover,:focus) svg {
  fill: var(--clr-neutral-100);
}


.footer-b {
  padding: 1rem;
  flex: 2;
  text-align: center;
}

.footer-b svg {
  fill: var(--clr-neutral-900);
  display: inline-block;  
  width: 1.5rem;
  aspect-ratio: 1/1;  
  position: relative;
  top: 0.3rem;
}

.footer-b p {
  text-align: center;
}

@media screen and (max-width:45em) {
  .primary-footer {
    display: block;
    text-align: center;
  }
}


